.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  font-family: var(--font-secondary);

  color: #fff;

  border-radius: 0;
  border: solid 2px;
  padding: .25em .5em;
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-light {
  background-color: var(--color-light);
  border-color: var(--color-light);
  font-family: var(--font-secondary);

  color: #fff;

  border-radius: 0;
  border: solid 2px;
  padding: .25em .5em;
}

.btn-light:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);
  font-family: var(--font-secondary);

  color: var(--color-primary);

  border-radius: 0;
  border: solid 2px;
  padding: .25em .5em;
}

.btn-ghost:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  color: #fff;
}
