:root {
  --color-primary: #4d8f99;
  --color-secondary: #1d3b3f;
  --color-light: #bcd5d9;
  --color-white: white;

  --font-primary: "Sorts Mill Goudy", serif;
  --font-secondary: "Montserrat", sans-serif;
}

html {
  font-family: var(--font-primary);
}
