.about {
  background-image: url("../../../images/snow-dog.jpg");
  background-size: cover;
  background-position: top center;

  padding-bottom: 3em;
  padding-top: 3em;
}

.about h3 {
  color: var(--color-secondary);
}

.white-header {
  color: var(--color-white);
}

.faq {
  background-color: var(--color-light);
}

.faq h3 {
  color: var(--color-dark);
}

.steps {
  color: var(--color-dark);
}

.steps h4 {
  color: var(--color-white);
  background-color: var(--color-light);
}

.btn-ghost-faq {
  color: var(--color-dark);
  transition: all 250ms ease-out;
}

.btn-ghost-faq:hover {
  color: var(--color-light);
  border-color: var(--color-white);
  background-color: var(--color-white);
}

.max-length {
  margin-left: auto;
  margin-right: auto;
  max-width: 39em;
  width: 100%;
}

@media only screen and (min-width: 60em) {

  .about {
    padding-bottom: 10em;
    padding-top: 10em;
  }

}
