.about {
  background-color: var(--color-white);
}

.white-header {
  color: var(--color-white);
}

.img-flex {
  display: block;
  width: 100%;
}

.about-img {
  max-width: 400px;
  margin: auto;
}

.faq {
  background-color: var(--color-light);
}

.faq h3 {
  color: var(--color-dark);
}

.steps {
  color: var(--color-dark);
}

.steps h4 {
  color: var(--color-white);
  background-color: var(--color-light);
}

.btn-ghost-faq {
  color: var(--color-dark);
  transition: all 250ms ease-out;
}

.btn-ghost-faq:hover {
  color: var(--color-light);
  border-color: var(--color-white);
  background-color: var(--color-white);
}
